[flake8]
max-line-length = 100
exclude =
    __pycache__,
    .venv,
    .git,
    build,
    dist,
    *.egg-info,
    src/cairn/gui
extend-ignore =
    E221,
    E241,
    E251,
    E261,
    E272,
    E302,
    E303,
    E301,
    E306,
    E501,
    E127,
    E128,
    E702,
    W292,
    W503,
    E231,
    E741,
    E225
per-file-ignores =
    __init__.py: F401
    tests/*: S101
    src/cairn/connectors/*: F401
